* {
  box-sizing: border-box;
}

h2 {
  font-size: 14px;
}

.buddycard,
.teamcard {
  font-family: 'open-sans';
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  xflex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}

.buddycard__item,
.teamcard__item {
  xpadding: 1rem;
  xborder: 3px solid hotpink;
  xtext-align: center;
  xmargin: 0;
}

.buddycard__items,
.teamcard__items {
  border: 1px solid #e0e4e8;
  border-radius: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 315px;
  height: 58px;
  font-size: 16;
  color: #7589a2;
}

.plus {
  position: absolute;
}
