* {
  box-sizing: border-box;
  font-family: "open sans";
}

html,
body {
  height: 100%;
}

.rating__main {
  width: 375px;
  height: 719px;
  margin-left: 30px;
  margin-right: 30px;
  padding-right: 0;
}

/* hides radio buttons */
input[name="star"] {
  display: inline-block;
  width: 0;
  opacity: 0;
  margin-left: -2px;
}

/* hides radio buttons */
input[name="rectangle"] {
  display: inline-block;
  width: 0;
  opacity: 0;
  margin-left: -2px;
}

/* fill stars on hover*/
img.star:hover {
  opacity: 1;
}

img.rectangle:hover {
  opacity: 1;
}

.rating__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  width: 315px;
  xmargin-left: 30px;
  xmargin-right: 30px;
}

.rating__button--cancel {
  width: 152px;
  height: 48px;
  background-color: #fff;
  border-radius: 10px;
  border: 0;
}

.rating__button--save {
  width: 152px;
  height: 48px;
  background-color: var(--third-dark);
  color: #fff;
  border: 0;
  border-radius: 10px;
}

/*xbutton > span,
p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}*/

.input__motto {
  width: 315px;
  height: 62px;
}

.input__notes {
  width: 315px;
  height: 124px;
}

/* make stars transparent */
.star,
.rectangle {
  opacity: 0.1;
  transition: color 0.2s ease-in-out;
  xborder: 3px solid #7589a2;
}

.comprehension__container {
  width: 315px;
  height: 26px;
  margin-bottom: 15px;
}

.rating__comprehension {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
}

.rating__stars {
  height: 34.46px;
  width: 315px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

h2 {
  font-size: var(--fs-300);
  font-weight: bold;
  color: var(--secondary-dark);
  line-height: 1rem;
  margin-right: 0;
}

.rating__container {
  display: flex;
  flex-direction: column;
}

.label__motto__rating,
.label__notes__rating,
.label__comprehension__rating,
.label__rating__rating {
  font-size: var(--fs-300);
  color: var(--secondary-dark);
  line-height: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
