:root {
  --primary: white;
  --secondary-dark: #193251;
  --secondary-middle: #7589A2;
  --secondary-light1: #E0E4E8;
  --secondary-light2: #F8F8F8;
  --third-dark: #FF5A36;
  --third-middle: #FF9C86;
  --third-light1: #FFBDAF;
  --third-light2: #FFDED7;

  --fs-100: 0.75rem; /* 12px */
  --fs-200: 0.875rem; /* 14px */
  --fs-300: 1rem; /* 16px */
  --fs-400: 1.25rem;
  --fs-500: 1.375;
  --fs-600: 1.75rem;
  --fs-900: 2.125;
}

.bold-16 {
  font-size: var(--fs-300);
  font-weight: bold;
  line-height: 1.125rem;
}

.semibold-16 {
  font-size: var(--fs-300);
  font-weight: bold;
  line-height: 1rem;
}

.semibold-16-1 {
  font-size: var(--fs-300);
  line-height: 22px1.375rem;
}

.semibold-14 {
  font-size: var(--fs-200);
  line-height: 1.286rem;
}

.semibold-14-1 {
  font-size: var(--fs-200);
  line-height: 1.143rem;
}

.semibold-12 {
  font-size: var(--fs-100);
  line-height: 1.333rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
  }

body {
  xwidth:100vw;
  xheight: 300vh;
  margin: 0;
  line-height: 1,5rem;
  font-family: sans-serif; /* Open sans-serif not available */
}

.head__container {
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 200;
    top: 0; 
    margin: 10px;
    padding: 10px;
    background-image: url(./images/background_shape_1.svg);
    background-repeat: no-repeat;
    background-size: 100% 4rem;
    xborder: 2px solid black;
  }
      