.article__motto {
  margin-bottom: 1rem;
}

.article__notes {
  margin-bottom: 0.6rem;
}

.label__motto {
  margin-bottom: 0.2rem;
}

.label__notes {
  margin-bottom: 0.2rem;
}

.label__rating {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.comprehension {
  padding-right: 0.2rem;
  position: relative;
}

.comprehension:hover {
  xbackground: url(./images/Rectangle\ Copy\ 4@2x.png) no-repeat;
  content: url(./images/Rectangle\ Copy\ 4@2x.png);
  z-index: 100;
}

.comprehension__rectangle {
  width: 22px;
  height: 22px;
}

x.rating:hover {
  background: ;
}

.journal {
  border: 1px solid #e0e4e8;
  display: flex;
  flex-direction: column;
  padding-left: 0.4rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  border-radius: 10px;
}

.journal__rating {
  align-content: flex-start;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.journal__comprehension {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.rating {
  xpadding-right: 0.5rem;
  width: 24.82px;
  height: 23.63px;
}

/* Navigations Icons Größe festlegen*/
.navigation__img {
}
