.article__motto {
  margin-bottom: 1rem;
  font-size: 16px;
}

.article__notes {
  margin-bottom: 0.6rem;
  font-size: 14px;
}

.label__rating {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  color: #7589a2;
  font-size: 12px;
}

.label__comprehension {
  font-size: 12px;
  color: #7589a2;
}

.label__motto {
  margin-bottom: 0.2rem;
  color: #7589a2;
  font-size: 12px;
}

.label__notes {
  margin-bottom: 0.2rem;
  color: #7589a2;
  font-size: 12px;
}

.comprehension {
  padding-right: 0.2rem;
  position: relative;
}

.comprehension:hover {
  xbackground: url(./images/Rectangle\ Copy\ 4@2x.png) no-repeat;
  content: url(./images/Rectangle\ Copy\ 4@2x.png);
  z-index: 100;
}

.comprehension__rectangle {
  width: 22px;
  height: 22px;
}

x.rating:hover {
  background: ;
}

.journal {
  border: 1px solid #e0e4e8;
  border-radius: 10px;
  box-shadow: 1px 1px 10px darkgray;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding-left: 0.4rem;
  width: 315px;
  height: 347px;
}

.journal__rating {
  align-content: flex-start;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.journal__comprehension {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.rating {
  xpadding-right: 0.5rem;
  width: 24.82px;
  height: 23.63px;
}

/* Navigations Icons Größe festlegen*/
.navigation__img {
}
