.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.navigation__item--active {
}

.navigation__img {
  transform: ;
}
/*transform / transition*/
